@model OnlineHomeServices.DAL.Tbl_review

@{
    ViewBag.Title = "Reviewsseller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Review Customer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        <div>
            <button class="button" onclick="location.href='@Url.Action("Dashboard", "Admin")';return false;"><span>Back </span></button>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12">

            <div class="stars starr">
                <span class="text-warning text-right">
                    <i class="ratingStar fas fa-star" data-value="1"></i>
                    <i class="ratingStar far fa-star" data-value="2"></i>
                    <i class="ratingStar far fa-star" data-value="3"></i>
                    <i class="ratingStar far fa-star" data-value="4"></i>
                    <i class="ratingStar far fa-star" data-value="5"></i>
                    <input type="hidden" name="rating" id="ratingValue" value="1" />
                </span>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Review, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Review, new { htmlAttributes = new { @class = "form-control animated" }, placeholder = "Enter your review here... ", rows = "10", cols = "80" })
                    @Html.ValidationMessageFor(model => model.Review, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>


        </div>
    </div>

}



<style>
    .stars {
        margin: 0.5em;
        font-size: 24px;
        color: #d17581;
        text-align: center
    }

    .button {
        border-radius: 4px;
        background-color: #009DDB;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 1em;
        width: 7em;
        transition: all 0.5s;
        cursor: pointer;
        margin: 0 22px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\02C2';
                position: absolute;
                opacity: 0;
                top: 0;
                left: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-left: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                left: 0;
            }
</style>
